{
  "base_url": "https://api.workbench.kpmg/genai/azure/openai",
  "timeout": 300,
  "default_api_version": "2024-06-01",
  "model_overrides": {
    "gpt-4o-2024-08-06-gs-ae": {
      "api_version": "2024-06-01"
    },
    "gpt-5-2025-08-07-gs-ae": {
      "api_version": "2025-01-01-preview"
    },
    "o3-2025-04-16-gs-ae": {
      "api_version": "2024-12-01-preview"
    }
  }
}
